* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  background-image: url(./images/pexels-andre-furtado-1162251.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.check {
  flex-direction: column;
  background-position: center;
  width: 70%;
  height: 595px;
  background-size: cover;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: relative;
  right: 450px;
  /* border: 2px solid red; */
  top: 7px;
}

input::placeholder {
  color: grey;
  font-size: 18px;
}

.cover{
  margin-top: 80px;
}

input {
  text-align: center;
  border-radius: 20px;
  width: 470px;
  height: 50px;
  margin-right: 380px;
  color: black;
  background-color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

h1{
  font-size: 150px;
  font-family: 'Ketika Sans', sans-serif;
  line-height: 1;
  text-transform: capitalize;                                              
}

h3{
  font-size: 40px;
  font-family: 'Laachir Deeper', sans-serif;
  line-height: 1;
                                                
}


.div2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 50px !important;
  width: 30%;
  height: 595px;
}

#display {
  position: absolute;
  left: 4%;
  top: 47%;
  /* font-family: ; */
  font-size: xx-large;
}