body{
  background-image: url(./images/pexels-andre-furtado-1162251.jpg);
  background-size: cover;
}

img{
  width: 100%;
  height: 100%;
}

.section1{
  width: 100%;
  /* border: 2px solid black; */
  height: fit-content;

}
.moveit{
    transform: translate(1000px, 100px);
}
