* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  background-image: url(./images/pexels-andre-furtado-1162251.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.check {
  flex-direction: column;
  background-position: center;
  width: 70%;
  height: 595px;
  background-size: cover;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.603);
  font-size: 18px;
}
a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
  top: 270px;
  left: 180px;
  font-family: 'Ketika Sans', sans-serif;
}
.cover{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: fit-content;
}

input {
  text-align: center;
  border-radius: 20px;
  width: 300px;
  /* height: 50px; */
  padding: 10px;
  margin-right: 530px;
  color: white;
  background-color: transparent;
  border:  none;
  border-bottom:2px solid  white;
  outline: none;
  font-size: 18px;
  box-shadow: 2px 2px 8px 2px black;
}


h1{
  font-size: 150px;
  font-family: 'Ketika Sans', sans-serif;
  line-height: 1;
  text-transform: capitalize;                                              
}

h3{
  font-size: 30px;
  font-family: 'Laachir Deeper', sans-serif;
  line-height: 1;
  
}

p{
  font-family: 'Ketika Sans', sans-serif;
  margin-top: 30px;
  
}

.div2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 50px !important;
  width: 30%;
  height: 595px;
  filter: opacity(.8);
}

#display {
  position: absolute;
  left: 4%;
  top: 47%;
  /* font-family: ; */
  font-size: xx-large;
}

.circle{
  background-color: white;
  border: 2px solid white;
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  height: 50px;
  transform: translateX(-500px);

}